html{
    width:100%;
    height: 100%;
}
body{
    width:80%;
    height:100%;
    margin:auto;
    overflow-x:hidden;
    display:flex;
    flex-direction: column ;
}
header{
    margin-top:10px;
    border:10px black solid;
    margin-bottom: 5px;
    padding:5px;
}
content{
    border:10px black solid;
    margin-bottom: 5px;
    padding:10px;
    height: 50% ;
    flex-grow:2;
    display:flex;
}
footer{
    border:10px black solid;
    padding:5px;
}
div{
    overflow:auto;
    padding : 10px ;
    border: 10px dashed #5b5b5b ;
    box-sizing: border-box;
    width : 100% ;
}
p{
    border: 5px solid black;
    background-color: ghostwhite;
    text-decoration-color: black;
    width : 100% ;
    padding:5px;
    box-sizing: border-box;
}

h1{
    text-align:center;
    border-style: dashed;
    padding:5px;
    text-decoration-color: red;
}
